<app-form class="card-form" [buttonLabel]="'Sign Up'" [buttonRoute]="'../sign-up'">
  <form class="content-form" [formGroup]="form" (ngSubmit)="signIn()">
    <div class="content-input" *ngFor="let field of fields">
      <label [for]="field.name">{{field.label}}</label>
      <input class="input-base" [type]="field.type" [formControlName]="field.formControlName">
      <small id="alert" class="alert" *ngIf="isControlHasError(field)"> {{field.errorMessage}}</small>
    </div>
    <small class="alert" *ngIf="invalidCredetials">Credenciales incorrectas</small>
    <button id="btn-submit" class="btn btn-submit " type="submit" [disabled]="!form.valid"
      [ngClass]="{'disabled': !form.valid}">Login</button>
  </form>
</app-form>
