<div class="content">
  <a class="back" [routerLink]="'/auth/books'">
    <img src="/assets/images/back-arrow.png" alt="">
    <span>Atrás</span>
  </a>
  <div class="details-content">
    <div class="details" *ngIf="loaded">
      <img class="book-cover" [src]="book.image_url">
      <div class="book-info">
        <div class="book-title">
          <h1>{{book.title}}</h1> <h2>({{book.genre}})</h2>
        </div>
        <p><span>Autor del libro: </span> {{book.author}}</p>
        <p><span>Editorial: </span> {{book.editor}}</p>
        <p><span>Año de publicación: </span>  {{book.year}}</p>
      </div>
    </div>
  </div>
</div>
