@import "src/styles/lib/colors";

.content {
  align-items: center;
  background-color: $wild-sand;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.details-content {
  background-color: $white;
  box-shadow: 4px 4px 10px 0 $black-shadow;
  height: 420px;
  width: 900px;
}

.back {
  align-content: center;
  background: unset;
  border: unset;
  color: $black-russian;
  cursor: pointer;
  display: flex;
  left: 230px;
  position: absolute;
  text-decoration: none;
  top: 45px;

  span {
    font-size: 20px;
    margin-left: 10px;
  }

  img {
    height: 20px;
    width: 20px;
  }
}

.details {
  display: flex;
  flex-flow: row nowrap;
  margin: 25px;

  .book-cover {
    background-image: url("/assets/images/book-cover.png");
    height: 370px;
    width: 260px;
  }

  .book-info {
    padding-left: 50px;
    width: 540px;

    .book-title {
      align-items: baseline;
      display: flex;
      height: 50px;
      position: relative;
      width: 100%;

      h1 {
        line-height: 38px;
        margin-right: 10px;
      }

      h2 {
        color: $gray;
        line-height: 28px;
      }

      &::after {
        background-color: $earls-green;
        content: "";
        bottom: 0;
        height: 4px;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
  }
}

.field {
  color: $gray;
  font-size: 20px;
  margin-top: 35px;

  .key {
    color: $black-russian;
    font-weight: 700;
  }
}
