<app-form [buttonLabel]="'Login'" [buttonRoute]="'../login'">
  <form class="content-form" [formGroup]="form" (ngSubmit)="signUp()">
    <div class="content-input" *ngFor="let field of fields">
      <label [for]="field.name">{{field.label}}</label>
      <input class="input-base" [type]="field.type" [formControlName]="field.formControlName">
      <small id="alert" class="alert" *ngIf="isControlHasError(field)"> {{field.errorMessage}}</small>
    </div>
    <button id="btn-submit" class="btn btn-submit " type="submit" [disabled]="!form.valid" [ngClass]="{'disabled': !form.valid}">
      Sign Up</button>
  </form>
</app-form>
