@import "src/styles/lib/colors";

.book {
  margin: 0 0 35px 35px;
}

.books {
  display: flex;
  flex-flow: row wrap;
  margin-top: 45px;
}

.content {
  background-color: $wild-sand;
  padding: 0 0 70px 200px;
}

.search {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;

  .icon-search {
    background-image: "/assets/images/search.png";
    position: absolute;
  }

  .search-input {
    background-color: $white;
    border: 2px solid $mercury;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: normal;
    height: 50px;
    margin-top: 30px;
    padding: 15px;
    width: 646px;
  }
}

