@import "src/styles/styles.scss";

.content {
  width: 100%;
  max-width: 2000px;
}

.form-content {
  background-color: $color-grey;
  height: 500px;
  margin-top: 50px;
  width: 500px;
  max-width: 100%;
}

.image-brand {
  height: 200px;
  width: inherit;
  max-width: inherit;

  .img {
    width: 200px;
  }
}

.line {
  background-color: $color-brand-blue;
  height: 10px;
  width: inherit;
  max-width: inherit;
}
