<app-form [buttonLabel]="'Login'" [buttonRoute]="'/login'">
  <form class="form" [formGroup]="form" (ngSubmit)="signUp()">
    <div class="content-input" *ngFor="let field of fields">
      <label [for]="field.name">{{field.label}}</label>
      <input [type]="field.type" [formControlName]="field.formControlName">
      <div class="alert">
        <small *ngIf="isControlHasError(field.formControlName, 'required')">{{field.label}} es requerido.</small>
        <small *ngIf="isControlHasError(field.formControlName, 'minLength')">El campo {{field.label}} debe tener mínimo 3 caracteres.</small>
        <small *ngIf="isControlHasError(field.formControlName, 'email')">Formato del correo inválido.</small>
        <small *ngIf="isControlHasError(field.formControlName, 'pattern') && field.formControlName === 'password'">
          La contraseña debe tener mínimo una mayúscula, una minúscula y un número.
        </small>
        <small *ngIf="isControlHasError(field.formControlName, 'MatchPassword') || validateForm(field.formControlName, form, 'MatchPassword')">
          Las contraseñas no coinciden. 
        </small>
      </div>
    </div>
    <button class="btn-fill" type="submit" [disabled]="!form.valid" [ngClass]="{'disabled': !form.valid}">
      Sign Up</button>
  </form>
</app-form>
