@import "src/styles/lib/colors";

.btn-submit {
  background-color: $earls-green;
  color: $white;
  margin: 10px auto 15px;
}

.content-form {
  border-bottom: 2px solid $silver-chalice;
  margin: 0 25px;
}

.content-input {
  display: flex;
  flex-flow: column;
  margin: 15px 0;
}
