@import "src/styles/styles.scss";

button {
  margin: 16px 24px 0;
}

.container {
  background-color: $color-grey;
  border-top: 8px solid $color-brand-blue;
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  margin-top: 50px;
  max-width: $width-form;
  height: 634px;
  width: 100%;

  .form {
    border-bottom: 2px solid $color-grey-line;
    margin: 0 24px;
  }
}

.logo-wolox {
  height: 70px;
  margin: 20px 0 0 45px;
  width: 212.42px;
}
