@import "/src/styles/lib/colors.scss";
@import "/src/styles/lib/variables.scss";

%btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 30px;
  width: 250px;
}
