@import "/src/styles/lib/colors.scss";
@import "/src/styles/lib/variables.scss";

/*
* Buttons
*/

.btn-border {
  background-color: $wild-sand;
  border: 2px solid $earls-green;
  color: $earls-green;
}

.btn-fill {
  background-color: $earls-green;
  color: $white;
}

button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 30px;
  width: 250px;
}
