@import "/src/styles/lib/colors";
@import "/src/styles/lib/variables";

.content-input {
  display: flex;
  flex-flow: column nowrap;
  margin: 15px 0;
  width: inherit;
}

input {
  background-color: $white;
  border: none;
  border-radius: 5px;
  height: 30px;
  margin-top: 10px;
  max-width: 250px;
  width: 100%;
}

label {
  height: 20px;
  width: 100%;
}
