@import "/src/styles/lib/colors.scss";
@import "/src/styles/lib/variables.scss";

.content-input {
  display: flex;
  flex-flow: column nowrap;
  margin: 15px 0;
  width: inherit;
}

input {
  background-color: $color-white;
  border: none;
  border-radius: 5px;
  height: 30px;
  margin-top: 10px;
  max-width: 250px;
  width: 100%;
}

label {
  height: 20px;
  width: 100%;
}

input,
label {
  font-family: $font-family;
  font-size: $font-size;
}
